* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  min-width: 20rem;
  background: #93b8d6;
  height: 100vh;
}

.app-title {
  margin: 0.5rem;
}
