body {
  margin: 0;
  font-family: 'Comfortaa', cursive;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Comfortaa', cursive;
  font-family: 'Roboto', sans-serif;
}
